In [1]:
getwd()

[1] "/hpc/hub_oudenaarden/agiladi/data/small_projects/scripts/hemato_figures"

In [2]:
setwd("../..")

In [3]:
source("../tuft/scripts/metacell_functions.r")

library(metacell)

scdb_init("saved_work")

Loading required package: reshape2

Warning message:
“package ‘reshape2’ was built under R version 4.2.3”
Loading required package: plyr

Warning message:
“package ‘plyr’ was built under R version 4.2.3”
Loading required package: plotrix

Warning message in library(package, lib.loc = lib.loc, character.only = TRUE, logical.return = TRUE, :
“there is no package called ‘plotrix’”

Attaching package: ‘metacell’


The following objects are masked _by_ ‘.GlobalEnv’:

    mc_colorize_sup_hierarchy, mcell_mat_rpt_cor_anchors,
    mcell_mc_export_tab


initializing scdb to saved_work

In [4]:
outdir = "figures//sup_figure/"

In [5]:
liver_cells = names(scdb_mc("hemato_liver_annotated")@mc)
message(length(liver_cells), " liver cells")
    
bone_cells  = names(scdb_mc("hemato_bone_annotated")@mc)
message(length(bone_cells), " bone cells")

megk_cells  = names(scdb_mc("hemato_liver_megk")@mc)
message(length(megk_cells), " megk cells")

clodronate_cells  = names(scdb_mc("hemato_clodronate_f")@mc)
message(length(clodronate_cells), " clodronate cells")

neut_cells  = names(scdb_mc("hemato_neut_f")@mc)
message(length(neut_cells), " neutrophils")

mle_res = read.delim("annotations/mle_res_750u.txt", stringsAsFactors = F, row.names = 1)
mle_res_megk = read.delim("annotations/mle_res_megK.txt", stringsAsFactors = F, row.names=1)

14629 liver cells

8438 bone cells

8459 megk cells

3334 clodronate cells

8329 neutrophils

In [6]:
cells = unique(c(liver_cells, bone_cells, megk_cells, clodronate_cells, neut_cells, rownames(mle_res), rownames(mle_res_megk)))
length(cells)

[1] 38803

In [7]:
alls = c("hemato_all", "hemato_clodronate_all", "hemato_liver_all", "hemato_neut_all")

In [8]:
cell_stats_l = lapply(alls, function(id) scdb_mat(id)@cell_metadata)
head(cell_stats_l[[1]])
head(cell_stats_l[[4]])

               plate  cell           barcode umicount mt_frac    Seq.Batch.ID
AB1000_AACAGCT AB1000 AB1000_AACAGCT AACAGCT 1596     0.04260652 SB013
AB1000_AACATCG AB1000 AB1000_AACATCG AACATCG 1290     0.09379845 SB013
AB1000_AACCTTG AB1000 AB1000_AACCTTG AACCTTG 2806     0.09337135 SB013
AB1000_AACGGTG AB1000 AB1000_AACGGTG AACGGTG  318     0.89308176 SB013
AB1000_AACGTTC AB1000 AB1000_AACGTTC AACGTTC 1617     0.14594929 SB013
AB1000_AACTCGT AB1000 AB1000_AACTCGT AACTCGT  583     0.08919383 SB013
               Date.of.sequencing Batch.Set.ID Owner Date.of.sort ⋯
AB1000_AACAGCT 15/02/2024         Maiia-BM-P0  Maiia 06/12/2023   ⋯
AB1000_AACATCG 15/02/2024         Maiia-BM-P0  Maiia 06/12/2023   ⋯
AB1000_AACCTTG 15/02/2024         Maiia-BM-P0  Maiia 06/12/2023   ⋯
AB1000_AACGGTG 15/02/2024         Maiia-BM-P0  Maiia 06/12/2023   ⋯
AB1000_AACGTTC 15/02/2024         Maiia-BM-P0  Maiia 06/12/2023   ⋯
AB1000_AACTCGT 15/02/2024         Maiia-BM-P0  Maiia 06/12/2023   ⋯
               FACS.machine Wells condition Tissue Age Cell_type Replicate
AB1000_AACAGCT S6           ALL             Bones  P0  CD45-     4
AB1000_AACATCG S6           ALL             Bones  P0  CD45-     4
AB1000_AACCTTG S6           ALL             Bones  P0  CD45-     4
AB1000_AACGGTG S6           ALL             Bones  P0  CD45-     4
AB1000_AACGTTC S6           ALL             Bones  P0  CD45-     4
AB1000_AACTCGT S6           ALL             Bones  P0  CD45-     4
               Analysis Include amp_batch_id
AB1000_AACAGCT          Models  1
AB1000_AACATCG          Models  1
AB1000_AACCTTG          Models  1
AB1000_AACGGTG          Models  1
AB1000_AACGTTC          Models  1
AB1000_AACTCGT          Models  1

               plate  cell           barcode umicount mt_frac    Seq.Batch.ID
AB1007_AACAGCT AB1007 AB1007_AACAGCT AACAGCT  273     0.08424908 SB013
AB1007_AACATCG AB1007 AB1007_AACATCG AACATCG  197     0.27918782 SB013
AB1007_AACCTTG AB1007 AB1007_AACCTTG AACCTTG  480     0.50000000 SB013
AB1007_AACGGTG AB1007 AB1007_AACGGTG AACGGTG 4871     0.28864710 SB013
AB1007_AACGTTC AB1007 AB1007_AACGTTC AACGTTC  103     0.24271845 SB013
AB1007_AACTCGT AB1007 AB1007_AACTCGT AACTCGT  179     0.22905028 SB013
               Date.of.sequencing Batch.Set.ID Owner Date.of.sort ⋯
AB1007_AACAGCT 15/02/2024         Maiia-FL-P5  Maiia 27/11/2023   ⋯
AB1007_AACATCG 15/02/2024         Maiia-FL-P5  Maiia 27/11/2023   ⋯
AB1007_AACCTTG 15/02/2024         Maiia-FL-P5  Maiia 27/11/2023   ⋯
AB1007_AACGGTG 15/02/2024         Maiia-FL-P5  Maiia 27/11/2023   ⋯
AB1007_AACGTTC 15/02/2024         Maiia-FL-P5  Maiia 27/11/2023   ⋯
AB1007_AACTCGT 15/02/2024         Maiia-FL-P5  Maiia 27/11/2023   ⋯
               FACS.machine Wells condition Tissue Age Cell_type Replicate
AB1007_AACAGCT S6           ALL             Liver  P5  CD45+     3
AB1007_AACATCG S6           ALL             Liver  P5  CD45+     3
AB1007_AACCTTG S6           ALL             Liver  P5  CD45+     3
AB1007_AACGGTG S6           ALL             Liver  P5  CD45+     3
AB1007_AACGTTC S6           ALL             Liver  P5  CD45+     3
AB1007_AACTCGT S6           ALL             Liver  P5  CD45+     3
               Analysis    Include amp_batch_id
AB1007_AACAGCT Neutrophils Models  1
AB1007_AACATCG Neutrophils Models  1
AB1007_AACCTTG Neutrophils Models  1
AB1007_AACGGTG Neutrophils Models  1
AB1007_AACGTTC Neutrophils Models  1
AB1007_AACTCGT Neutrophils Models  1

In [9]:
names(cell_stats_l) = alls

In [10]:
library(gtools)

In [11]:
cell_stats = data.frame()

for (a in names(cell_stats_l)) {
    X = cell_stats_l[[a]]
    rownames(X) = X$cell
    cell_stats = smartbind(cell_stats, X[ setdiff(rownames(X), rownames(cell_stats)),])
    rownames(cell_stats) = cell_stats$cell
}

Warning message in smartbind(cell_stats, X[setdiff(rownames(X), rownames(cell_stats)), :
“Column class mismatch for 'plate'. Converting column to class 'character'.”
Warning message in smartbind(cell_stats, X[setdiff(rownames(X), rownames(cell_stats)), :
“Column class mismatch for 'cell'. Converting column to class 'character'.”
Warning message in smartbind(cell_stats, X[setdiff(rownames(X), rownames(cell_stats)), :
“Column class mismatch for 'barcode'. Converting column to class 'character'.”
Warning message in smartbind(cell_stats, X[setdiff(rownames(X), rownames(cell_stats)), :
“Column class mismatch for 'plate'. Converting column to class 'character'.”
Warning message in smartbind(cell_stats, X[setdiff(rownames(X), rownames(cell_stats)), :
“Column class mismatch for 'cell'. Converting column to class 'character'.”
Warning message in smartbind(cell_stats, X[setdiff(rownames(X), rownames(cell_stats)), :
“Column class mismatch for 'barcode'. Converting column to class 'character'.”

In [12]:
venn(rownames(cell_stats), cells)

    A   A,B
30689 38803

In [13]:
cell_stats$filtered_in = rownames(cell_stats) %in% cells

In [21]:
write.table(names(table(cell_stats[ cells, "plate"])), quote = F, row.names = F)

x
AB1000
AB1001
AB1002
AB1003
AB1007
AB1008
AB1009
AB1012
AB1013
AB1014
AB1015
AB1016
AB1081
AB1083
AB1085
AB1087
AB1088
AB1089
AB1090
AB1091
AB1092
AB1093
AB1094
AB1095
AB1102
AB1103
AB1109
AB1110
AB1111
AB1119
AB1255
AB1256
AB1273
AB1274
AB1280
AB1285
AB1291
AB1292
AB1382
AB1383
AB1384
AB1388
AB1389
AB1390
AB1391
AB1392
AB1393
AB1394
AB1459
AB1460
AB1461
AB1462
AB1463
AB1464
AB1465
AB1466
AB1475
AB1476
AB1483
AB1484
AB1485
AB1486
AB344
AB345
AB346
AB347
AB348
AB350
AB351
AB439
AB440
AB441
AB443
AB445
AB446
AB449
AB451
AB452
AB461
AB462
AB463
AB464
AB465
AB466
AB467
AB507
AB510
AB596
AB597
AB598
AB599
AB600
AB601
AB619
AB683
AB717
AB746
AB748
AB749
AB750
AB751
AB752
AB753
AB754
AB777
AB778
AB779
AB780
AB781
AB812
AB823
AB824
AB825
AB826
AB827
AB828
AB829
AB830
AB831
AB832
AB833
AB834
AB835
AB836
AB837
AB838
AB839
AB840
AB841
AB842
AB843
AB844
AB845
AB846
AB847
AB848
AB850
AB851
AB852
AB853
AB854
AB856
AB860
AB861
AB862
AB963
AB964
AB965
AB966
AB967
AB968
AB969
AB970
AB971
AB972
AB973
AB974
AB975
AB976
AB977
AB978
AB979
AB982
AB983
AB984
AB985
AB986
AB987
AB988
AB989
AB990
AB991
AB993
AB994
AB995
AB996
AB997
AB998
AB999

In [19]:
write.table(colnames(cell_stats))

"x"
"1" "plate"
"2" "cell"
"3" "barcode"
"4" "umicount"
"5" "mt_frac"
"6" "Seq.Batch.ID"
"7" "Date.of.sequencing"
"8" "Batch.Set.ID"
"9" "Owner"
"10" "Date.of.sort"
"11" "Plate.description"
"12" "R1.length"
"13" "Pool.barcode.number"
"14" "R2.design"
"15" "Empty.wells"
"16" "Species"
"17" "Tapestation.mean.peak"
"18" "QBit.ng.ul"
"19" "QC1"
"20" "QC2"
"21" "FACS.machine"
"22" "Wells"
"23" "condition"
"24" "Tissue"
"25" "Age"
"26" "Cell_type"
"27" "Replicate"
"28" "Analysis"
"29" "Include"
"30" "amp_batch_id"
"31" "Amp.Batch.ID"
"32" "filtered_in"

In [53]:
rel_cols = c("plate", "Tissue", "Age", "Cell_type", "Replicate", "filtered_in")
md = cell_stats[,rel_cols]
head(md)

               plate  Tissue Age Cell_type Replicate filtered_in
AB1000_AACAGCT AB1000 Bones  P0  CD45-     4          TRUE
AB1000_AACATCG AB1000 Bones  P0  CD45-     4          TRUE
AB1000_AACCTTG AB1000 Bones  P0  CD45-     4          TRUE
AB1000_AACGGTG AB1000 Bones  P0  CD45-     4         FALSE
AB1000_AACGTTC AB1000 Bones  P0  CD45-     4          TRUE
AB1000_AACTCGT AB1000 Bones  P0  CD45-     4          TRUE

In [ ]:
md$comb = with(md, paste0(Tissue, "@", Age, "@", Cell_type))
stats_ncells = tapply(md$filtered_in, md$comb, sum)
stats_percent = tapply(md$filtered_in, md$comb, mean)
stats_nreps = tapply(md$Replicate, md$comb, function(x) length(unique(x)))
stats_nplates = tapply(md$plate, md$comb, function(x) length(unique(x)))
df = data.frame(stats_nreps, stats_nplates, stats_ncells, stats_percent)

In [59]:
df$Tissue = vecsplit(rownames(df), "@", 1)
df$Age = vecsplit(rownames(df), "@", 2)
df$Gate = vecsplit(rownames(df), "@", 3)
write.table(df, sep = "\t", quote = F, row.names = F, file = paste0(outdir, "/TableS1.txt"))